$color-dartgray:#464646;

//========== attribute =========== //
.border-h-shadow{
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
} 
.fontSize-Lobster{
    font-family: 'Lobster', cursive;
}