.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%!important;
  height: 60px !important;
  background: rgba(255, 255, 255, 0.3) !important;

  .container {
    width: 100% !important;
    margin: 0;
    padding: 0 0 0 30px!important;
    display: flex !important;
    justify-content: space-between !important;
 
    #basic-navbar-nav {
      flex-grow: 0;
    }
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  &:hover{
    color: greenyellow;
  }
}

.navbar-expand-lg .navbar-nav {
  gap: 2rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}
.dropdown-item {
  font-weight: bold;
  color: black;
  text-align: center;
}
.dropdown-item:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.icon-nav-drop-item{
    width: 30px;
    height: 30px;
}

.visible{

  transition: all 0.2s linear;
}

.hidden{
  top: -200px;
  left: 0;
  transition: all 0.2s linear;
}
