.item-vay-the-chap {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: .7rem;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
//   margin-top: 1rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, #77a1d380, #79cbca80, #e284ae80);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform .5s linear;

  &:hover{
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    
  }

  .icon-item {
    width: 3rem;
    .icon {
      width: 100%;
    }
  }
  .title-item {
    font-size: 2rem;
    font-family: "Lobster", cursive;
    max-width: 12ch;
    text-overflow: clip;
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
    color: black;
  }
}
